@font-face{
	font-family:Museosanc;
	src: url(/battery/MSC500.ttf);
}

#mapid { height: 750px; width: 80%;margin-left: auto;
  margin-right: auto;}
body {background: url(/battery/images/StolenOne.jpg) repeat; margin: 0;}
	
.cuscont {width: 100%;display: block;  margin-left: auto;
  margin-right: auto;}

.cuscont>.row{
	min-height:100vh;
	margin: 0 0 0 0px;
	--bs-gutter-x: 0;
}


p, h1, h2, h3, h4, h5, a {
    font-family: Arial, Helvetica, sans-serif;
}
#eutext
{
white-space:nowrap;
margin-right:11%;
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
font-family:Museosanc;
font-weight:bold;
height: 100%;
text-align: center;
color:#455392;
min-width:10%;
}
p{
	text-indent: 20px;	
	text-align: justify; 
	padding-left: 20px;
	padding-right:20px;
}


.row>.cusleft{
	--bs-gutter-x: 0;
	position:fixed;
/* 	background-image: url("/battery/img");	
 */	width:15%;
	height:100%;
	background-repeat: repeat-x;
	background-color: #FFF;
	background-position: bottom;
	background-size: 100% auto;
	padding: 0 0 0 0px;
}
.cusleft>.row{
	--bs-gutter-x: 0;
	margin: 0 0 0 0px;}

.mainstaff>.row{
	--bs-gutter-x: 0;
	margin: 0 0 0 0px;
}
.row>.mainstaff{
	--bs-gutter-x: 0;
	position:unset;
	padding-left:15%;
	background-color: #FFF;
	width: 100%;
	margin: 0 0 0 0px;}

.row>.cusleft>.logo{float: left;
background-color: #FFF;
width: 100%;
padding: 0 0 0 0px;
margin: 0 0 0 0px;}
 img {
  width: 100%;
  height: auto;
} 

.ccontent{
	padding-top:10px;
	padding-bottom:75px;
}
.ccontent h2{
	text-indent: 20px;	
}
.row .ccontent{
	
	padding-left:15px;
	padding-right:15px;
}

.cusleft *{
	background-color: #eee;
}
#header-menu{
	text-align:center;
	vertical-align:center;
    float: left;
    clear: left;
    height: 100px;
    width: 100%;
    padding: 0 0 0 0px;
    margin: 0 0 20 0px;
    background-color: #FFF;
}

/* @media screen and (min-width: 801px) {
    .EUheader{
	height:100%;
	margin: 0 20%;}
}

@media screen and (max-width: 800px) {
    .EUheader{
	height:100%;
	margin: 0 0	%;} */
}




.rimage
{
    float:right;
    max-height: 100%;
	width:auto;
	max-width:25%;
}



#eflag
{
	float:left;
	height: 100%;
	max-height: 100%;
	text-decoration: none;
	text-align:center;
	max-width:40%;
}
#eflag img
{
	width:auto;
	height:auto;
	justify-content: center;
	align-items: center;
	max-height:85%;
	max-width: 100%;
	
}
#eflag figcaption
{
font-family:Museosanc;
font-weight:bold;
font-size: 0.7rem;
max-height:15%;
}


.phone{
float: right;
clear: right;
color: #5CA144 ;
font-size: 16px;
}
.pageTitle {
    float: left;
    width: 100%;
    background-color: #5CA144 ;
    /* border-top: 16px solid black; */
	padding:10px;
	text-align:center;
}

.row .pageTitle h1 {
    font-size: 26px;
    font-family: Museosanc;
    margin: 0 0 0 15px;
}

	
#footer{
	z-index:1000;
    float: left;
    background-color: #5CA144 ;
    height: 50px;
	position: fixed;
	width:65%;
	bottom:0;
	display:flex;
}
#footer *{
	z-index:1000;
}


#footer p {	display:flex;

    float: left;
    margin: 10px;
}
#footer ul {
	display: block ruby;

    float: right;
    clear: none;
    width: auto;
    border: none;
    background: none;
	margin: 10px;

}
#footer ul li{

	padding-left:10px;
	padding-right:10px;
}

.image_link{
	width:150px;
	height:150px;
	display:inline-block;
	min-height:100%
}





.tarea a h4{
		color: #000;text-decoration: none;width:100%;word-wrap:anywhere;
}


@media screen and (min-width: 801px) {
	.row .clink
	{
		display:flex;
		border:1px solid black;
		border-radius:5px;
		margin-left:1%;
		margin-right:1%;
		margin-top:10px;
		margin-bottom:10px;
		width: 48%;
		float: left;
	}

	.row .clink h4
	{
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 text-align:center;
	}
	.tarea{
		display:inline-block;
		margin:0 auto;
		width:inherit;
	}
	.image_link{
	border:1px solid black;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	}
	.tarea a{
		color: #000;text-decoration: none;width:100%;height:100%;display:flex;}
	#eutext{
		font-size:0.85rem;
	}
	.clbar ul a li{
	display: flex;font-size:1.5rem}
}

@media screen and (max-width: 800px) {
	.clbar ul a li{
	display: flex;
	font-size:0.65rem
	}
	#eutext{
		font-size:0.5rem;
	}
	.image_link{
	border:1px solid black;
	border-radius:5px;
	}
	.row .clink
	{
		margin-bottom: 10px;
		margin-left:1%;
		margin-right:1%;
		width: 48%;
		float:left;
		display:block;
	}
	.tarea{
		display:block;
	}
	a{
	color: #0d6efd;
    text-decoration: underline;
    width: 100%;
    display: block;
	}
	.row .clink h4
	{
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 text-align:center;
	}
	.image_link{
		display: block;
		width: 100%;
		height:auto}
	.tarea a{
		display: flex;
		text-decoration: none;
		width:100%;
	}

}
	

.ccontent figure{
    margin: 10 20 20 10px;
	font-style:oblique;
}

figcaption
{
	font-size: small;
	text-align:center;
	white-space:nowrap;
}

.clbar ul { }
.clbar ul a li{ padding: 5px 10%; border-bottom: #999 1px solid;min-height:40px;justify-content: center;
align-items: center;
}
.clbar ul a  {color: #000;text-decoration: none;width:100%}
.clbar ul a:hover li{background-color: #5CA144 ;}
.clbar ul a:hover {background-color: #5CA144 ; padding-left: 15px;border-bottom: none;}


#imgheader{
	max-height:100%;
	height:100%;
	width:auto;
	max-width:100%;
	margin:0 auto;
}